.section_dark {
    max-width: var(--max-width);
    margin: 0 auto; 
    background-color: var(--color-bg);
    padding: 40px 24px;
}
.blog__top_section {
    margin-bottom: 32px;
}
.blog__top_section-title {
    color: var(--color-text);
    font-weight: 400;
    font-size: 46px;
    margin-top: 8px;
    margin-bottom: 32px;
}
.blog__top_section-description {
    font-size: 18px;
    color: var(--color-text);
    line-height: 27px;
}